# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.log

# Streamlit
.streamlit/secrets.toml

# DATA & EXPORTS (Exclus du repo global)
*.csv
*.xlsx
*.sqlite
*.jsonl
jort_credentials.json
!ba7ath.png
!ba7ath.ico
!buyers.json

# BINAIRES & BUILD
*.exe
build/
dist/
*.spec

# AGENTS & CACHE
.Agents/
.agent/
.gemini/

# SYSTÈME
.DS_Store
Thumbs.db